{% spaceless %}

{# Variables #}
{% set moduleClass    = 'starter-template' %}

{# HTML #}
<svg xmlns="" viewBox="" class="{{moduleClass}}">
  <title>Starter Template</title>
  {# SVG CODE GOES HERE #}
</svg>

{% endspaceless %}
